.helloWrapper{
    background-color: beige;
    padding: 2px;
    color: crimson;
   text-align: center;
   text-decoration: overline;
}
p{
    color: brown;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: context-menu;
    background-color: turquoise;
    padding: 2px;
}
body{
    background-color: coral;
}